# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# node js
node_modules
package-lock.json
bun.lock

.DS_Store
dist
dist-ssr
coverage
*.local

# Additional
.eslintrc.cjs
.prettierrc.json

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# Ignore SSL sertificates
*.crt
*.key
